In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("breast-cancer-wisconsin.csv")

In [3]:
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
y=df["class"]
x=df.drop(["id","class","bare_nucleoli"],axis=1)

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.32,random_state=40)

In [6]:
x_train

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses
473,4,1,1,1,2,1,1,1
633,8,7,4,4,5,5,10,1
348,3,4,4,10,5,3,3,1
452,3,1,1,3,2,1,1,1
598,3,1,1,1,2,2,1,1
287,3,1,1,1,3,2,1,1
568,8,4,4,1,6,2,5,2
432,5,1,1,1,2,2,2,1
560,5,1,1,1,2,3,1,1
429,2,1,1,1,2,2,1,1
627,2,1,1,1,2,1,1,1
102,4,1,2,1,2,3,1,1
149,8,8,7,4,10,7,8,7
413,5,1,2,1,2,3,1,1
118,1,1,1,1,4,1,1,1
227,8,9,9,5,3,7,7,1
190,10,10,10,8,6,7,10,1
524,3,1,1,1,2,2,1,1
141,2,1,1,1,2,1,1,1
608,5,10,10,10,10,10,1,1
374,3,1,2,1,2,2,1,1
372,4,1,2,1,2,2,1,1
312,8,6,4,10,10,3,5,1
335,1,1,1,1,2,1,1,1
147,1,1,1,1,3,2,1,1
45,1,1,1,1,2,2,1,2
47,1,1,1,1,2,2,1,1
9,4,2,1,1,2,2,1,1
101,2,3,4,4,2,2,5,1
495,3,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...
680,10,10,10,10,5,10,10,7
210,8,10,10,10,5,8,10,6
412,10,10,10,6,8,8,5,1
509,2,1,1,1,2,1,1,1
241,3,1,1,3,1,3,1,1
567,4,1,1,1,2,2,1,1
131,2,1,1,1,2,3,1,1
22,3,1,1,1,2,2,1,1
616,3,1,1,1,2,2,1,1
500,6,1,1,1,2,3,1,1
270,8,4,7,1,3,3,9,2
207,1,1,1,1,1,3,1,1
670,3,10,7,8,5,7,4,1
436,10,10,10,1,6,2,8,1
8,2,1,1,1,2,1,1,5
329,10,4,6,4,5,7,1,1
73,9,4,5,10,6,4,8,1
91,3,1,1,2,2,1,1,1
443,1,1,1,1,2,1,1,1
55,10,6,6,3,4,3,6,1
671,3,2,1,2,2,3,1,1
531,4,2,2,1,2,2,1,1
626,4,6,6,5,7,7,7,3
268,10,8,8,2,3,8,7,8
306,1,1,1,1,2,3,1,1
440,10,4,3,10,4,10,1,1
165,4,1,1,1,2,3,2,1
7,2,1,2,1,2,3,1,1
219,6,1,3,1,2,3,1,1
326,10,1,1,1,2,5,4,1

In [7]:
clf=LinearRegression()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.7648676753360657

In [8]:
clf2=LogisticRegression()
clf2.fit(x_train,y_train)
clf2.score(x_test,y_test)

0.9642857142857143

In [9]:
clf.predict([[4,1,1,1,2,1,1,1]])

array([2.09777839])

In [10]:
clf2.predict([[4,1,1,1,2,1,1,1]])

array([2], dtype=int64)